<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="payment-box">

    <h1>💳 Payment Section</h1>

    <p>Select Payment Method</p>

    <div class="payment-methods">

        <button>UPI</button>

        <button>Card</button>

        <button>Cash</button>

    </div>

    <br>

    <a href="/download-bill">

        <button class="btn-download">
            Download Bill
        </button>

    </a>

    <br><br>

    <a href="/success">

        <button class="btn-pay">
            Complete Payment
        </button>

    </a>

</div>

</body>
</html>